html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-family: "Times New Roman", serif;
  font-size: 1.6rem;
}

.container {
  max-width: 1500px;
  width: 100%;
}

.container-fluid {
  width: 100%;
}

/*             HEADER        HEADER         */
header {
  background-image: url("header-background.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
}

header nav .container-fluid {
  height: 0;
}

header nav .menu-content {
  height: 0;
  opacity: 0;
}

header nav .menu {
  z-index: 100;
  padding-left: 20px;
  padding-top: 50px;
}

header nav .menu .menu-button-icon, header nav .menu h5 {
  display: inline-block;
}

header nav .menu .menu-button {
  border: 4px solid #000;
  width: 60px;
  height: 58px;
  border-radius: 50px;
}

header nav .menu .menu-button-bar1, header nav .menu .menu-button-bar2, header nav .menu .menu-button-bar3 {
  position: relative;
  top: 11px;
  left: 7px;
  border-radius: 0px;
  display: block;
  background-color: #000000;
  width: 30px;
  height: 4px;
  margin: 4px;
}

header nav .menu .animate1 {
  transition: 0.25s;
  transform: translate(0px, 8px) rotate(45deg);
}

header nav .menu .animate2 {
  transition: 0.25s;
  opacity: 0;
}

header nav .menu .animate3 {
  transition: 0.25s;
  transform: translate(0px, -8px) rotate(-45deg);
}

header nav .logo {
  z-index: 100;
  text-align: center;
  padding-top: 40px;
}

header nav .buttons {
  padding-top: 60px;
  padding-right: 20px;
}

header nav .buttons .modal-content .modal-header h2 {
  text-align: center;
}

header nav .buttons .modal-content .modal-body {
  padding-top: 50px;
  padding-bottom: 50px;
}

header nav .buttons .modal-content .modal-body input {
  text-align: center;
  display: block;
  margin: 0 auto;
}

header nav .buttons .modal-content .modal-body input:first-of-type {
  margin-bottom: 10px;
}

header nav .buttons .modal-content .modal-body input[type="submit"] {
  margin-top: 10px;
  background-color: #bfbfb2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}

header nav .buttons .button {
  border: 2px solid #000000;
  border-radius: 50px;
  float: left;
  padding: 4px 10px;
  margin-left: 10px;
}

header nav .buttons .button a {
  color: #000000;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

header nav .buttons .button a:hover {
  color: #ffffff;
}

header nav .buttons .button .dropdown-menu {
  min-width: 100%;
  padding: 0px;
  left: -7px;
}

header nav .buttons .button .dropdown-menu img {
  max-width: 40px;
}

header nav .buttons .button .dropdown-menu a {
  padding: 10px 10px;
  padding-top: 10px;
}

header .header-front {
  padding-top: 70px;
  padding-bottom: 35px;
}

header .header-front h1 {
  padding-bottom: 40px;
  color: #ffffff;
  font-weight: bolder;
}

header .header-front img {
  padding-bottom: 25px;
}

header .header-front .image-front {
  max-width: 900px;
  width: 100%;
}

header .header-front h4 {
  color: #ffffff;
}

header .header-front .image-arrow {
  position: relative;
  padding: 10px;
  padding-top: 0px;
  animation-name: arrow;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

header nav.menu-opened .menu-content {
  opacity: 1;
  transition: opacity 1s;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 150px;
  height: auto;
  background-color: #ffffff;
  z-index: 1;
}

header nav.menu-opened .menu-content li {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfb2;
}

header nav.menu-opened .menu-content a {
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}

header nav.menu-opened .menu-content li:hover {
  background-color: #bfbfb2;
}

/*             SECTION ONE      SECTION ONE         */
.section-one {
  padding-bottom: 100px;
}

.section-one .content-top h2:nth-child(1) {
  padding-top: 40px;
}

.section-one .content-top h2:nth-child(2) {
  margin-top: 0px;
  padding-bottom: 30px;
  color: #bfbfb2;
}

.section-one .content-top p {
  padding-bottom: 110px;
}

.section-one .content-bottom {
  border: 2px solid #bfbfb2;
}

.section-one .content-bottom img {
  max-width: 110px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.section-one .content-bottom h4 {
  padding-bottom: 50px;
  color: #bfbfb2;
}

.section-one .content-bottom p {
  display: none;
}

.section-one .content-bottom.right {
  position: relative;
}

.section-one .content-bottom.right .image-cloud {
  position: relative;
  top: -55px;
  background-color: #ffffff;
  max-width: 150px;
  margin: 0 auto;
}

.section-one .content-bottom.right img {
  padding: 0px;
}

.section-one .content-bottom.right h4 {
  margin-top: -20px;
  padding-bottom: 20px;
}

.section-one .content-bottom.right p {
  padding-bottom: 35px;
  line-height: 25px;
  display: block;
}

/*             SECTION TWO    SECTION TWO         */
.section-two .container-fluid:first-of-type {
  background-color: #f7f7f7;
}

.section-two .row-1, .section-two .row-2 {
  height: 600px;
}

.section-two .row-1 img, .section-two .row-2 img {
  padding: 50px 0;
}

.section-two .row-1 h3, .section-two .row-2 h3 {
  font-weight: bolder;
}

.section-two .row-1 h3:nth-child(1), .section-two .row-2 h3:nth-child(1) {
  padding-top: 150px;
  margin-bottom: 5px;
}

.section-two .row-1 h3:nth-child(2), .section-two .row-2 h3:nth-child(2) {
  margin-top: 0px;
  padding-bottom: 30px;
}

.section-two .row-2 h3:nth-child(1) {
  padding-top: 100px;
}

.section-two .row-2 img {
  padding-bottom: 150px;
}

/*             SECTION THREE    SECTION THREE         */
.section-three .container-fluid {
  background-color: #f7f7f7;
  padding-top: 50px;
}

.section-three .carousel-indicators {
  margin-bottom: -70px;
}

.section-three .carousel-indicators li {
  border: 1px solid #bfbfb2;
  margin-left: 5px;
}

.section-three .carousel-indicators .active {
  background-color: #bfbfb2;
}

.section-three .carousel-control {
  background-image: none;
}

.section-three .carousel-control .arrow-right, .section-three .carousel-control .arrow-left {
  position: absolute;
  top: 40%;
}

.section-three .carousel-control .arrow-right {
  left: 50%;
}

.section-three .carousel-control .arrow-left {
  right: 50%;
}

.section-three h4 {
  padding-top: 60px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.section-three p {
  padding-bottom: 50px;
}

/*             SECTION FOUR    SECTION FOUR       */
.section-four {
  padding: 75px 0;
}

.section-four .content {
  border: 2px solid #bfbfb2;
  padding: 40px;
}

.section-four .content p {
  font-size: 2.5rem;
  color: #bfbfb2;
}

.section-four .content h6 {
  font-size: 1.6rem;
}

.section-four .content img {
  padding: 20px 0;
}

/*             SUB-FOOTER        SUB-FOOTER       */
.sub-footer {
  background-color: #6ebee3;
  padding: 50px 0;
}

.sub-footer h2 {
  font-weight: bolder;
  padding-bottom: 40px;
}

.sub-footer h2 span {
  color: #ffffff;
}

.sub-footer h4, .sub-footer h5 {
  font-weight: bold;
}

.sub-footer h5 {
  background-color: #ffffff;
  width: 150px;
  margin: 0 auto;
  padding: 7px 7px;
  border: 2px solid #000000;
  border-radius: 50px;
}

.sub-footer h5.scheudle {
  width: 100px;
}

/*             FOOTER                FOOTER       */
.footer {
  background-color: #eeeee8;
  padding: 50px 0;
}

.footer h6 {
  font-size: 1.8rem;
  font-weight: bold;
}

.footer h6:nth-of-type(2n+2) {
  padding-top: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li a {
  text-decoration: none;
  color: #000000;
}

.footer ul li a:hover {
  color: #bfbfb2;
}

.footer img {
  padding: 5px 0;
}

.footer button {
  background-color: #eeeee8;
  border: 2px solid #6ebee3;
  border-radius: 50px;
  color: #6ebee3;
  padding: 3px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer button:hover {
  background-color: #ddddd8;
}

.footer address {
  line-height: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

.footer .locations {
  color: #6ebee3;
  text-decoration: none;
}

.footer .locations:hover {
  color: #bfbfb2;
}

/*             BASE-FOOTER                BASE-FOOTER       */
.base-footer ul {
  list-style: none;
  padding: 50px 0;
  margin: 0;
}

.base-footer ul li {
  display: inline-block;
  padding-right: 30px;
}

.base-footer ul li a {
  text-decoration: none;
  color: #bfbfb2;
}

.base-footer ul li a:hover {
  color: #000000;
}

.base-footer h6 {
  padding: 40px 0;
  font-weight: bold;
}

/*            MEDIA           QUERIES      */
@media screen and (max-width: 1099px) {
  header nav
.buttons {
    max-height: 116px;
    padding-top: 0px;
  }
  header nav
.buttons .button {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  header nav
.buttons .button .dropdown-menu {
    left: -5px;
    min-width: 108%;
  }
  header nav
.buttons .button:first-child {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1083px) {
  .section-one .content-bottom.right p {
    padding-bottom: 10px;
  }
  .section-two .row-1 h3:nth-child(1) {
    padding-top: 100px;
  }
  .section-two .row-2 h3:nth-child(1) {
    padding-top: 50px;
  }
}

@media screen and (max-width: 991px) {
  header .buttons {
    display: none;
  }
  header nav .menu h5 {
    display: none;
  }
  .section-one {
    padding-bottom: 50px;
  }
  .section-one .content-top p {
    padding-bottom: 50px;
  }
  .section-one .content-bottom {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .section-one .content-bottom h4 {
    padding-bottom: 15px;
  }
  .section-one .content-bottom p {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .section-one .content-bottom.right h4 {
    margin-top: 0px;
    padding-bottom: 15px;
  }
  .section-one .content-bottom.right .image-cloud {
    position: static;
  }
  .section-one .content-bottom.right .image-cloud img {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .section-two .row-1, .section-two .row-2 {
    height: auto;
  }
  .section-two img {
    padding: 50px 0 !important;
  }
  .section-two h3, .section-two p {
    text-align: center;
  }
  .section-two .row-1 h3:nth-child(1) {
    padding-top: 30px;
  }
  .section-two .row-2 h3:nth-child(1) {
    padding-top: 30px;
  }
  .section-three p {
    padding-bottom: 40px;
  }
  .section-three .carousel-control .arrow-right, .section-three .carousel-control .arrow-left {
    top: 46%;
  }
  .section-four .content {
    padding: 20px;
  }
  .footer .col-sm-4:nth-child(4), .footer .col-sm-4:nth-child(5), .footer .col-sm-4:nth-child(6) {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  header nav.menu-opened .menu-content {
    padding-top: 125px;
  }
  header nav.menu-opened .menu-content li {
    padding: 25px 0;
  }
  header nav.menu-opened .menu-content a {
    font-size: 1.6rem;
  }
  header nav .logo {
    position: absolute;
    z-index: 6;
  }
  header nav .logo img {
    max-width: 110px;
    z-index: 6;
  }
  header nav .menu h5 {
    display: none;
  }
  header nav .menu .menu-button {
    border: 3px solid #000;
    width: 40px;
    height: 40px;
  }
  header nav .menu .menu-button-bar1, header nav .menu .menu-button-bar2, header nav .menu .menu-button-bar3 {
    top: 7px;
    left: 4px;
    width: 20px;
    height: 3px;
    margin: 3px;
  }
  header nav .menu .animate1 {
    transition: 0.25s;
    transform: translate(0px, 5px) rotate(45deg);
  }
  header nav .menu .animate2 {
    transition: 0.25s;
    opacity: 0;
  }
  header nav .menu .animate3 {
    transition: 0.25s;
    transform: translate(0px, -7px) rotate(-45deg);
  }
  header .header-front {
    padding-top: 70px;
  }
  .section-one .content-bottom {
    width: 100%;
  }
  .section-one .content-bottom img {
    padding-top: 10px !important;
    padding-bottom: 0px;
    max-width: 90px;
  }
  .section-one .content-bottom h4 {
    padding-bottom: 0px !important;
  }
  .section-one .content-bottom p {
    padding-bottom: 10px;
    width: 95%;
  }
  .section-three .carousel-control .arrow-right, .section-three .carousel-control .arrow-left {
    top: 38%;
    width: 40%;
  }
  .section-four .content p {
    font-size: 1.8rem;
  }
  .section-four .content h6 {
    font-size: 1.4rem;
  }
  .section-four .content img {
    max-width: 110px;
  }
  .sub-footer {
    padding-top: 25px;
  }
  .sub-footer .col-xs-12:nth-child(2) {
    padding-top: 40px;
  }
  .sub-footer img {
    max-width: 65px;
  }
  .sub-footer img:last-child {
    padding-top: 40px;
  }
  .sub-footer h5 {
    font-size: 2rem;
    width: 200px;
    padding: 10px;
    border-width: 3px;
  }
  .sub-footer h2 {
    padding-bottom: 30px;
  }
  .footer {
    padding: 20px 0;
    text-align: center;
  }
  .footer .col-xs-12:nth-child(1), .footer .col-xs-12:nth-child(2),
  .footer .col-xs-12:nth-child(3), .footer .col-xs-12:nth-child(4) {
    display: none;
  }
  .footer .col-xs-12:nth-child(5) {
    padding-top: 0px;
  }
  .footer .col-xs-12:nth-child(6) {
    padding-top: 20px;
  }
  .footer button {
    padding: 8px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .footer img {
    padding: 5px 9px;
  }
  .base-footer ul {
    padding: 20px 0;
  }
  .base-footer ul li {
    width: 30%;
    padding: 0px;
  }
  .base-footer ul li:nth-child(3) {
    width: 46%;
    float: right;
    text-align: right;
  }
  .base-footer ul li:nth-child(2) {
    width: 34%;
    text-align: center;
  }
  .base-footer ul li:nth-child(1) {
    width: 20%;
    float: left;
  }
  .base-footer h6 {
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
    float: none !important;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.6rem;
    font-weight: bold;
  }
  h3 {
    font-size: 3.25rem;
  }
  h4 {
    font-size: 2.75rem;
  }
}

/* KEYFRAMES KEYFRAMES */
@keyframes arrow {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
