body, html {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans";
  font-size: 1.6rem;
  color: #37474F;
}
.page-header  {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 28px;
    transition: background 1s, box-shadow 0.9s;
}
.page-header  .page-logo{
  fill: #FFFFFF;
  width: 100px;
}
.page-nav .navigation-menu a{
  text-decoration: none;
}
.page-nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  transition: opacity 1s;

}
.page-nav .navigation-menu li{
  display: inline-block;
}
.page-nav .hamburger {
  border:0;
  background: 0;
  position: absolute;
  top:22px;
  right: 20px;
  height: 30px;
  width: 30px;
  fill: #FFFFFF;
}
.hamburger .close-icon {
  display: none;
}
.hamburger .hamburger-icon {
  width: 20px;
  height: 7px;
}


.page-header.hamburger-opened {
  background-color: #FFFFFF;
  height: 310px;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, 0.5);
}


.page-header.hamburger-opened .hamburger-icon {
  display: none;
}

.page-header.hamburger-opened .close-icon {
  display: block;
  height: 15px;
  width: 15px;
  margin: auto;
  fill: #000000;
}

.page-header.hamburger-opened .page-logo {
  fill: #000000;
}

.page-header.hamburger-opened .navigation-menu  {
  display: block;
  margin-top: 10px;
}

.page-header.hamburger-opened .navigation-menu li {
  display: block;
  text-align: center;
  line-height: 47px;
  font-size: 1.4rem;
  color: #000000;

  border-bottom: 1px solid #DDDDDD;
}

.page-nav .navigation-menu li.sign-up {
  border: 0;
  margin-top: 30px;
}

.page-header.hamburger-opened .navigation-menu li.sign-up a {
  border: 2px solid #00BAA5;
  border-radius: 50px;

  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.article .article-header {
  box-sizing: border-box;

  background: url(img/header-bgr.jpg) no-repeat;
  background-size: cover;
  background-position: 48%;

  min-height: 70vh;

  padding: 20px;
  padding-top: 100px;
}

.article .article-header .article-title {
  margin: 0px;
  font-weight: normal;
  font-size: 4.2rem;
  text-align: center;
  color: #FFFFFF;
}

.article .article-header .article-lead {
  font-weight: lighter;
  font-size: 2.1rem;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}
.article-header .article-bottom {
  display: block;
  text-align: center;
  padding-top: 50px;
}

.article-header .wielgosik {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin: 0;
}

.article-bottom p{
  color: #00BAA5;
  font-size: 1.4rem;
  margin: 0;
  padding-top: 20px;
}

.article-bottom p:after {
  content: "\00b7";
  display: block;
  color: #FFFFFF;
  font-size: 2rem;
}

.article-bottom time {
  font-size: 1.4rem;
  color: #FFFFFF;

}

.article-content {
  padding: 30px;
  text-align: justify;
  line-height: 25px;
  margin:0;
  color: #6b6e6f;
}

.sidebar-picture {
  margin: 0px;
  text-align: center;
}
.sidebar-picture .pic {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.sidebar-picture .pic-description {
  font-size: 1.8rem;
  color: #849AA4;
}

.article-sidebar {
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
  padding-top: 70px;
  padding-bottom: 50px;
}

.article-container:first-child {
  padding-bottom: 50px;
}

.sub-title {
  padding-top: 40px;
}

.footer {
  background-color: #f5f7f8;
  min-height: 50vh;
}

.footer-menu {
  margin: 0;
  padding: 0;
  padding-top: 74px;
  padding-bottom: 48px;
  text-align: center;
}

.footer-menu li {
  display: block;
  list-style: none;
  margin-bottom: 35px;

}

.footer-menu li a {
  text-decoration: none;
  color: #00BAA5;
}

@media only screen and (min-width: 40em) {
  .hamburger {
    display: none;
  }

  .page-header {
    max-width: 1020px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
  }
    .page-nav .navigation-menu {
    position: absolute;
    right: 20px;
    top: 0px;
    display: inline-block;
    }

  .page-nav .navigation-menu li {
    padding-left: 70px;
  }

  .page-nav .navigation-menu li.sign-up a {
    border: 2px solid #00BAA5;
    border-radius: 50px;

    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .page-nav .navigation-menu li a{
    color: #FFFFFF;
    font-size: 1.4rem;
  }

  .page-nav .navigation-menu li a:hover{
    color: #000000;
  }

  .article-header {
    padding-top: 300px;
  }

  .article .article-header {
    min-height: 90vh;
    padding-top: 200px;
    padding-bottom: 92px;
  }

  .article-sidebar {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    -webkit-column-count: 1;
    -webkit-column-break-before: always;
    break-before: column;
  }

  .footer ul li {
    display: inline-block;
    margin-right: 61px;
  }

  .footer {
      min-height: 10vh;
  }

  .article-container {
    -webkit-column-count: 2;
    column-count: 2;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }

  .article-container p {
    margin: 0px;
    padding: 0px;
  }

  .article-container {
    padding-top: 30px;
  }

  .sub-title {
    text-align: center;
    display: block;
  }

  .pic-description {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .article-content:last-child {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1600px) {
  .article .article-header {
    min-height: 90vh;
    padding-top: 300px;
    padding-bottom: 92px;
  }
}
