.logo {
  flex-basis: 50%;
}

.header.menu-opened .logo {
  height: 150px;
  width: 150px;
  position: absolute;
}

@media screen and (max-width: 1170px) {
  .logo {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    padding-left: 50px;
  }
  .logo__img {
    padding-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    padding-left: 15px;
  }
}
