// colors

$white: #fff;
//header colors
$navigation-link-color: #cbccd3;
$navigation-link-color-hover-active: #e8e8eb;
$header-bottom-font-color: #fff;
$header-top-bottom-border-color: rgba(255, 255, 255, 0.15);
$header-background-color: #292c47;

$button-color: #e84545;
$button-hover-color: #e52e2e;
$button-font-color: #fff;

$work-hover-color: #e14d4d;

$our-team-member-name-color: #e84545;
$our-team-member-description-color:#6c7279;

$testimonials-background-color: #53354a;
$testimonials-text-color: #fff;

$social-border-color: #e8ecee;
$social-logo-color: #c6cacc;
$social-border-footer-color: #fff;
$social-logo-footer-color: #fff;
$social-hover-background-color: #e52e2e;
$social-hover-border-color: #e52e2e;
$social-hover-logo-color: #fff;

$footer-background-color: #3a3e64;
$footer-text-color: #9d9fb2;
$footer-text-title-color: #fff;

$sub-footer-background-color: #313454;
$sub-footer-text-color: #7b7b7d;
// font sizes

$h2-font-size: 6.5rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.2rem;
$h2-font-size-small: 4rem;
$h3-font-size-small: 2rem;
$h4-font-size-small: 1.8rem;
$h5-h6-font-size: 1.4rem;
$p-font-size: 1.4rem;
$nav-link-size: 1.3rem;
$button-font-size: 1.3rem;
