// colors

$blue: #516490;
$h2-color: #FFF;
$p-color: #FFF;

//header colors
$article-header: #24a20a;

$header-h2-color: #24a20a;
$header-background-color: #efefef;

$relations-background-color: #24a20a;
$relations-text-color: #FFF;

$passion-decription-header-background-color: #a8aaab;
$passion-background-color: #efefef;
$passion-decription-header-font-color: #313f51;

$list-font-color: #313f51;
$list-border-color: #313f51;

$expert-background-color: #808080;
$expert-font-color: #FFF;

$trusted-us-background-color: #808080;
$trusted-us-font-color: #FFF;

$customer-services-background-color: #e4e4e4;

$footer-background-color: #e4e4e4;
$arrow-background-color: #24a20a;
$arrow-color: #FFF;


// sizes
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.7rem;
$p-font-size: 1.4rem;

$list-font-size: 1.9rem;

$passion-decription-header-font-size: 1.4rem;

$trusted-us-section-header-font-size: 1.5rem;
