.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  &__image {
    display: block;
    width: 250px;
    margin-bottom: 45px;
  }
  &__input {
    margin-bottom:15px;
  }
  &__input--confirm {
    display: none;
  }
  &__input--placeholder {
    border: 1px solid grey;
    height: 35px;
    width: 500px;
    color: #000;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .button {
    display: flex;
  }
  .button__search, .button__lottery {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border: 1px solid grey;
    text-align: center;
    width: 70px;
    height: 25px;
    font-size: 12px;
    transition: all 0.3s;
    &:hover {
      background-color: grey;
      color: white;
      transition: all 0.3s;
    }
  }
  .button__search {
    margin-right: 2px;
  }
  .button__lottery {
    margin-left: 2px;
  }
}


.app.active {
  margin-top: 50px;
  flex-direction: row;
  position: relative;
  .app__image {
    display: block;
    width: 100px;
    margin-bottom: 0px;
    position: absolute;
    left: calc(50% - 380px);
    transform: translateX(-50%);
  }
  .app__input {
    margin-bottom: 0;
  }
  .button__search {
    height: 33px;
    border-left: transparent;
  }
  .button__lottery {
    display: none;
  }
}

.list {
  display: none;
}

.list.active {
  display: flex;
  flex-direction: column;
  width: 569px;
  position: relative;
  left: -1px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.list.active.border {
  border: 1px solid grey;
}
.element {
  display: flex;
  &:hover {
    .element__header {
      color: grey;
      margin-bottom: 5px;
      transition: all 0.3s;
    }
  }
  &__image {
    box-sizing: border-box;
    width: 80px;
    padding: 10px 15px;
    border-right: 1px solid grey;
    img {
      width: 50px;
    }
  }
  &__description {
    width: 100%;
    padding: 10px 15px;

  }
  &__header {
    color: #000;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  &__text {
    font-size: 13px;
    color: #263937;
  }
}

.app__list {
  position: absolute;
  border: 1px solid grey;
  width: 500px;
  top: 40px;
  background-color: #fff;
  z-index: 2;
  left: calc(50% - 36px);
  transform: translateX(-50%);
  padding: 5px 0px;
  box-sizing: border-box;
  display: none;
  &--element {
    font-size: 12px;
    height: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: grey;
      color: white;
    }
  }
}

#loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid grey; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
