.features {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 140px 0;
}

.feature {
  text-align: center;
  width: 33.33%;
  &--top-row {
    padding-bottom: 70px;
  }
  &__image {
    padding-bottom: 35px;
  }
  &__title {
    padding-bottom: 25px;
  }
  &__description {
    max-width: 300px;
    margin: 0 auto;
    line-height: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .feature__description {
    max-width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .feature {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .features {
    padding: 100px 0;
  }
  .feature {
    width: 100%;
    padding-bottom: 50px;
  }
  .feature:last-child {
    padding-bottom: 0px;
  }
}
