.header {
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  min-height: 750px;
  &__top-container {
    width: 100%;
    overflow: hidden;
    position: fixed;
  }
  &__top {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid $header-top-bottom-border-color;
    transition: padding 0.3s;
  }
  &__bottom {
    text-align: center;
    color: $header-bottom-font-color;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 106px;
    &__title {
      padding-top: 150px;
      padding-bottom: 50px;
    }
    &__slogan {
      padding-bottom: 80px;
    }
  }
}

.active-box {
  line-height: 0;
  text-indent: -10000px;
}

.fixed {
  @extend .header__top;
  padding: 20px 0;
  border-bottom: 0px;
  transition: padding 0.3s;
}

.fixed-background {
  background-color: $header-background-color;
  z-index: 150;
}

.header.menu-opened .header__top {
  height: 400px;
  background-color: #2b2c48;
}

@media screen and (max-width: 1000px) {
  .header {
    min-height: 630px;
  }
  .header__bottom {
    padding-top: 70px;
  }
}

@media screen and (max-width: 860px) {
  .header__bottom__title {
    width: 80%;
    margin: 0 auto;
  }
  .header__bottom__slogan {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .header__bottom {
    padding-top: 0px;
  }
  .header__bottom__slogan {
    line-height: 22px;
  }
}

@media screen and (max-width: 400px) {
  .header__bottom__slogan {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 325px) {
  .header {
    min-height: 670px;
  }
}
