.our-team {
  @extend .features;
  padding: 100px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member-container {
  width: 23.077%;
}

.member {
  text-align: left;
  &__image {
    padding-bottom: 25px;
  }
  &__name {
    padding-bottom: 10px;
  }
  &__position {
    padding-bottom: 25px;
    color: $our-team-member-name-color;
  }
  &__description {
    color: $our-team-member-description-color;
    line-height: 22px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .our-team {
    justify-content: center;
  }
  .member-container {
    width: 34%;
  }
  .member-container:nth-child(1), .member-container:nth-child(2), {
    padding-bottom: 50px;
  }
  .member {
    text-align: center;
  }
  .member__description {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .member-container {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .member-container {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .member-container {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .member-container {
    width: 90%;
  }
  .member-container:nth-child(3) {
    padding-bottom: 50px;
  }
}
